<a href="https://colab.research.google.com/github/Shashank-lokre/My_data_cleaning_project/blob/main/Data_cleaing_project(moviedata).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data cleaning of Movie Data**

In [353]:
# Importing the required modules

import pandas as pd
import numpy as np
import ast
import seaborn as sns

In [354]:
# Importing the data into the DataFrame

data = pd.read_csv("/content/drive/MyDrive/CAPSTONE_PROJECT DATA /movies_metadata.csv")

/tmp/ipython-input-2480171860.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("/content/drive/MyDrive/CAPSTONE_PROJECT DATA /movies_metadata.csv")

In [355]:
# checking the shape and size of the data

data.shape

(45466, 24)

In [356]:
data.size

1091184

In [357]:
# checking the first 5 rows of the Data
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [358]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

**ADULT** column

In [359]:
data['adult'].values[0:4]

array(['False', 'False', 'False', 'False'], dtype=object)

In [360]:
data['adult'].unique()

array(['False', 'True', ' - Written by Ørnås',
       ' Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.',
       ' Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.'],
      dtype=object)

In [361]:
# convert the str type into boolean (True , false)

data['adult'] = data['adult'].map({"True":True,"False" : False})

In [362]:
data = data.loc[data['adult'].isin([True,False])]

In [363]:
data.shape

(45463, 24)

In [364]:
data['adult'].unique()

array([False, True], dtype=object)

**belongs_to_collection** column

In [365]:
data['belongs_to_collection'].values[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [366]:
# we need only the name of the of the collection and if collection is not related to any movie , print(No - collection)
# convert it into respective collection

data['belongs_to_collection'] = data['belongs_to_collection'].apply(
    lambda x : ast.literal_eval(x) if isinstance(x,str) else  x
)

# converts the string into respective collection

data['belongs_to_collection'] = data['belongs_to_collection'].apply(
    lambda x : x['name'] if isinstance(x,dict) else 'No collection'
)

In [367]:
data['belongs_to_collection'].values[0:10]

array(['Toy Story Collection', 'No collection',
       'Grumpy Old Men Collection', 'No collection',
       'Father of the Bride Collection', 'No collection', 'No collection',
       'No collection', 'No collection', 'James Bond Collection'],
      dtype=object)

In [368]:
data.shape

(45463, 24)

In [369]:
data = data.rename(columns = {"belongs_to_collection" : "collection_name"})

In [370]:
data.columns

Index(['adult', 'collection_name', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

**Budget** column

In [371]:
data['budget'].values[0]

'30000000'

In [372]:
data['budget'] = data['budget'].apply(
    lambda x : int(x) if isinstance(x,str) else x
)

In [373]:
data['budget'].describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [374]:
(data['budget'] == 0).sum()

np.int64(36573)

In [375]:
sum(data['budget'] == 0 ) *100 / data.shape[0]

80.44563711149726



    1. Dont use budget
    2. Try to look for some other dataset where these details are available
    3. Bite the bullet and only do analysis with the rest of the data

**Genres** column

In [376]:
data['genres'].values[0:10]

array(["[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",
       "[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",
       "[{'id': 35, 'name': 'Comedy'}]",
       "[{'id': 28, 'name': 'Action'}, {'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}]",
       "[{'id': 35, 'name': 'Comedy'}, {'id': 10749, 'name': 'Romance'}]",
       "[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}]",
       "[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': 53, 'name': 'Thriller'}]",
       "[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]"],
      dtype=object)

In [377]:
data['genres'].values[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [378]:
# as there are too many genres , to know which movie has which genre we need to use One-hot encoding

In [379]:
data['genres'] = data['genres'].apply(
    lambda x : ast.literal_eval(x) if isinstance(x , str) else x
)

In [380]:
# we need all the unique genres present in the columns
genres_list = set()
for i in data['genres']:
  for j in i :
    genres_list.add(j['name'])

genres_list = list(genres_list)
print(genres_list)

['Fantasy', 'Family', 'History', 'TV Movie', 'Drama', 'Western', 'Mystery', 'Animation', 'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime', 'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign', 'Horror']

In [381]:
# Creates a list of genres present in the respective column
data['genres'] = data['genres'].apply(
    lambda x : [i['name'] for i in x] if isinstance(x, list) else None
)

In [382]:
data['genres'].values[0]

['Animation', 'Comedy', 'Family']

In [383]:
# creating rows with results of checking if the genre present or no

rows = []
for i in data['genres']:
  row = []
  for j in genres_list:
    if j in i :
      row.append(1)
    else :
      row.append(0)
  rows.append(row)

In [384]:
# creating the dataframe using columns(genres_list) and  rows
genres_frame = pd.DataFrame(rows , columns = genres_list )

In [385]:
# adding the column to the data frame
data = pd.concat([data,genres_frame], axis =1 )

In [386]:
# droping the genres column as we have made the one hot encoding
data = data.drop(columns = 'genres')
data.columns

Index(['adult', 'collection_name', 'budget', 'homepage', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count', 'Fantasy',
       'Family', 'History', 'TV Movie', 'Drama', 'Western', 'Mystery',
       'Animation', 'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror'],
      dtype='object')

**Homepage** column

In [387]:
# if there is a url let it be url else "No homepage"

data['homepage'] = data['homepage'].apply(
    lambda x : x if isinstance(x,str) else "No homepage"
    )
print((sum(data['homepage'] == 'No homepage') * 100 /data.shape[0]))

82.89051159107905

In [388]:
data['homePagePresent'] = (~data.homepage.isnull())

In [389]:
# As 82 percent of data in homepage is missing we should remove the column

data = data.drop(columns = 'homepage')

In [390]:
data.homePagePresent = data.homePagePresent.map({True:1,False:0})

In [391]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count', 'Fantasy',
       'Family', 'History', 'TV Movie', 'Drama', 'Western', 'Mystery',
       'Animation', 'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

**ID** column

In [392]:
data.id

0           862
1          8844
2         15602
3         31357
4         11862
          ...
45464    227506
45465    461257
19730       NaN
29503       NaN
35587       NaN
Name: id, Length: 45466, dtype: object

In [393]:
data['id'].values[0]

'862'

In [394]:
# converting the id column into integer
data['id'] = data['id'].apply(
    lambda x : int(x) if isinstance(x,str) else x
)

In [395]:
# As ID column should not have any duplicates , we need to remove duplicates
data = data.drop_duplicates(subset = ["id"])

In [396]:
# shows that there are no duplicates present in the data
data.shape[0] - len(data['id'].unique())

0

In [397]:
data = data.dropna(subset = 'id' )

In [398]:
# removing the same in imdb id's

data.imdb_id.values[0]
(data.shape[0] - len(data.imdb_id.unique()))
data = data.drop_duplicates(subset = 'imdb_id')

**Original Language** column

In [399]:
data['original_language'].isnull().sum()

np.int64(11)

In [400]:
data['original_language'] = data['original_language'].fillna('en')

In [401]:
data['original_language'] = data['original_language'].apply(
    lambda x : x.lower() if isinstance(x, str) else x
)

In [402]:
data['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay', 'kn',
       'eu', 'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu', 'lb',
       'si'], dtype=object)

In [403]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count', 'Fantasy',
       'Family', 'History', 'TV Movie', 'Drama', 'Western', 'Mystery',
       'Animation', 'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

**Title** column

In [404]:
data.title.isnull().sum(), len(data.title.unique())*100/data.shape[0]

(np.int64(3), 93.05986745051412)

In [405]:
data.original_title.isnull().sum(), len(data.original_title.unique())*100/data.shape[0]

(np.int64(0), 95.464253473369)

In [406]:
data = data.drop(columns = 'title')

In [407]:
data.original_title.values[0]

'Toy Story'

In [408]:
data['original_title'] = data['original_title'].str.lower()

In [409]:
data['original_title'] = data['original_title'].str.strip()

**Overview** column

In [410]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'video', 'vote_average', 'vote_count', 'Fantasy', 'Family',
       'History', 'TV Movie', 'Drama', 'Western', 'Mystery', 'Animation',
       'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

In [411]:
data['overview'] = data['overview'].str.lower()
data['overview'] = data['overview'].str.strip()
data['overview']

0        led by woody, andy's toys live happily in his ...
1        when siblings judy and peter discover an encha...
2        a family wedding reignites the ancient feud be...
3        cheated on, mistreated and stepped on, the wom...
4        just when george banks has recovered from his ...
                               ...
45461          rising and falling between a man and woman.
45462    an artist struggles to finish his work while a...
45463    when one of her hits goes wrong, a professiona...
45464    in a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45417, dtype: object

In [412]:
data.overview.isnull().sum()

np.int64(952)

In [413]:
data.loc[data.overview.isnull(),'overview'] = "no overview"

**popularity**

In [414]:
data['popularity'].values[0:10]

array([21.946943, 17.015539, 11.7129, 3.859495, 8.387519, 17.924927,
       6.677277, 2.561161, 5.23158, 14.686036], dtype=object)

In [415]:
data['popularity'].values[0]

21.946943

In [416]:
data['popularity'] = data['popularity'].astype('float64')
data['popularity'].describe()

count    45414.000000
mean         2.921932
std          6.007588
min          0.000000
25%          0.386107
50%          1.127685
75%          3.679143
max        547.488298
Name: popularity, dtype: float64

In [417]:
# the maximum is a outlier clearly , so to clear or cap the outlier

q1 = data['popularity'].quantile(0.25)

q3 = data.popularity.quantile(0.75)

In [418]:
iqr = q3 - q1

In [419]:
upper_limit = q3 + (iqr*1.5)
lower_limit = q1 - (iqr*1.5)

In [420]:
data['popularity']  = data['popularity'].clip(lower_limit,upper_limit)

In [421]:
data['popularity'].describe()

count    45414.000000
mean         2.459049
std          2.830763
min          0.000000
25%          0.386107
50%          1.127685
75%          3.679143
max          8.618696
Name: popularity, dtype: float64

In [422]:
sum(data['popularity'].isnull())

3

In [423]:
data = data.dropna(subset = 'popularity')

In [424]:
sum(data['popularity'].isnull())

0

**Vote_count** and **Vote_average** column

In [425]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'video', 'vote_average', 'vote_count', 'Fantasy', 'Family',
       'History', 'TV Movie', 'Drama', 'Western', 'Mystery', 'Animation',
       'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

In [426]:
data['vote_count'].values[0]

np.float64(5415.0)

In [427]:
data['vote_count'] = data['vote_count'].astype('int32')

In [428]:
sum(data['vote_count'].isnull())

0

In [429]:
data['vote_count'].describe()

count    45414.000000
mean       109.971837
std        491.549122
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [430]:
data['vote_average'].dtype

dtype('float64')

In [431]:
data['vote_average'] = data['vote_average'].apply(
    lambda x : round(x,2) if isinstance(x,float) else x
)

In [432]:
data['vote_average'].isnull().sum()

np.int64(0)

In [433]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'video', 'vote_average', 'vote_count', 'Fantasy', 'Family',
       'History', 'TV Movie', 'Drama', 'Western', 'Mystery', 'Animation',
       'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

**poster_path** column

In [434]:
data = data.drop(columns= 'poster_path')

In [435]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'video',
       'vote_average', 'vote_count', 'Fantasy', 'Family', 'History',
       'TV Movie', 'Drama', 'Western', 'Mystery', 'Animation',
       'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

In [436]:
data.shape

(45414, 41)

In [437]:
print(data['original_language'] , data['spoken_languages'])

0        en
1        en
2        en
3        en
4        en
         ..
45461    fa
45462    tl
45463    en
45464    en
45465    en
Name: original_language, Length: 45414, dtype: object 0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45414, dtype: object

**producation companies** column

In [438]:
# coverting the production_companies column from string to respective column

data['production_companies'] = data['production_companies'].apply(
    lambda x : ast.literal_eval(x) if isinstance(x,str) else x
    )

# extracting the names of the companies present in the production_companies column
data['production_companies'] = data['production_companies'].apply(
    lambda x : [d['name'] for d in x ] if isinstance(x,list) else "No producer"
    )

**production countries**

In [439]:
# coverting the production_countries column from string to respective column
data['production_countries'] = data['production_countries'].apply(
    lambda x : ast.literal_eval(x) if isinstance(x,str) else x
    )

# extracting the names of the conutries present in the production_countries column

data['production_countries'] = data['production_countries'].apply(
    lambda x : [d['name'] for d in x ] if isinstance(x,list) else None
    )

**spoken_languages**

In [440]:
# same  as above operations perform on sopken_languages column

data['spoken_languages'] = data['spoken_languages'].apply(
    lambda x : ast.literal_eval(x) if isinstance(x,str) else x
    )

data['spoken_languages'] = data['spoken_languages'].apply(
    lambda x : [d['name'] for d in x ] if isinstance(x,list) else "english"
    )

**Release date** column

In [441]:
data['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45414, dtype: object

In [442]:
data.release_date.isnull().sum()

np.int64(81)

In [443]:
data = data.dropna(subset = ['release_date'])

In [444]:
import datetime
dateString = 'September/2022/04::10:27:00'
date = datetime.datetime.strptime(dateString, "%B/%Y/%d::%H:%M:%S") #string to datetime#
#datetime.datetime.strftime((date + datetime.timedelta(days = 2, hours = 2)),"%d-%b-%y-%H:%M:%S")
# #date
#(date - datetime.timedelta(days = 90))
#date.month
date.day

4

In [445]:
data.release_date = pd.to_datetime(data.release_date, format='%Y-%m-%d')

In [446]:
data.release_date.dt.weekday

0        0
1        4
2        4
3        4
4        4
        ..
45460    0
45462    3
45463    4
45464    6
45465    4
Name: release_date, Length: 45333, dtype: int32

**Revenue**

In [447]:
data['revenue'] = data['revenue'].astype('int32')

In [448]:
data.revenue.describe()

count    4.533300e+04
mean     1.112801e+07
std      6.389438e+07
min     -2.147484e+09
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.068224e+09
Name: revenue, dtype: float64

In [449]:
sum(data.revenue == 0)*100/data.shape[0]

83.68296825711954

**Run time** column

In [450]:
data.runtime.values[0]

np.float64(81.0)

In [451]:
data.runtime.describe()

count    45089.000000
mean        94.184014
std         38.342419
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [452]:
data = data.loc[data.runtime <= 240,:]

In [453]:
data.runtime.isnull().sum()

np.int64(0)

In [454]:
data = data.rename(columns = {"spoken_languages" : "total_languages"})

In [455]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'total_languages', 'status', 'tagline', 'video',
       'vote_average', 'vote_count', 'Fantasy', 'Family', 'History',
       'TV Movie', 'Drama', 'Western', 'Mystery', 'Animation',
       'Science Fiction', 'Comedy', 'Romance', 'Action', 'Crime',
       'Documentary', 'War', 'Adventure', 'Music', 'Thriller', 'Foreign',
       'Horror', 'homePagePresent'],
      dtype='object')

In [456]:
data['total_languages'] = data['total_languages'].apply(
    lambda x : len(x) if isinstance(x, list) else 0
)

In [457]:
data['total_languages']

0        1
1        2
2        1
3        1
4        1
        ..
45459    1
45460    1
45463    1
45464    0
45465    1
Name: total_languages, Length: 44895, dtype: int64

**Status** column

In [458]:
data.status = data.status.fillna('Released')

In [459]:
data = data.drop(columns = ['tagline','video'])

In [460]:
data = data.dropna()

In [461]:
data.shape

(44891, 39)

In [462]:
data.budget.values[0]

np.float64(30000000.0)

In [463]:
data = data.loc[data['budget'] > 0,: ]

In [464]:
data.shape

(8842, 39)

In [465]:
data = data.loc[data['revenue'] > 0,: ]

In [466]:
data.shape

(5370, 39)

In [467]:
data.columns

Index(['adult', 'collection_name', 'budget', 'id', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'total_languages', 'status', 'vote_average',
       'vote_count', 'Fantasy', 'Family', 'History', 'TV Movie', 'Drama',
       'Western', 'Mystery', 'Animation', 'Science Fiction', 'Comedy',
       'Romance', 'Action', 'Crime', 'Documentary', 'War', 'Adventure',
       'Music', 'Thriller', 'Foreign', 'Horror', 'homePagePresent'],
      dtype='object')

In [468]:
data['profit'] = (data.revenue - data.budget)/data.budget

In [469]:
data.shape

(5370, 40)

In [470]:
data.profit.describe()

count    5.370000e+03
mean     5.576294e+03
std      2.170785e+05
min     -9.999995e-01
25%     -2.125056e-01
50%      1.056938e+00
75%      3.243333e+00
max      1.239638e+07
Name: profit, dtype: float64

In [471]:
data['profit'] = data['profit'].clip(-1,10)

In [472]:
data.to_csv('finalCleanedData.csv')

**Data has been cleared**